.carousel-control-prev, .carousel-control-next {
    background: none;
    border: none;
}
.logo{
    height: 84px;
}

.paragraph-style{
    letter-spacing: -0.5px;
    word-spacing: 0.5px;
    line-height: 1.4;
}

.post-details{
    margin-top: 16px;
}
